<!-- page title -->
<div class="section-wrapper pl-60 pr-60 pt-60">
    <div class="bostami-page-title-wrap mb-15">
        <h2 class="page-title">About Me</h2>
        <p>I'm Programmer with Fullstack Developer skills from Mataram, West Nusa Tenggara, Indonesia. I have
        been experienced with Programming for 3 year+ with many project and client i have done with.</p>
    </div>
</div>

<!-- what-do -->
<div class="section-wrapper pl-60 pr-60">

    <div class="bostami-section-title-wrap mt-30 mb-20">
        <h3 class="section-title">What I do!</h3>
    </div>

    <div class="bostami-what-do-wrap mb-30">
        <div class="row">
            <div class="grid-sizer"></div>
            <!-- single item -->
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="bostami-what-do-item bg-prink bg-blue">
                    <div class="icon">
                        <i class="fa-regular fa-swatchbook"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Problem Solving</h4>
                        <p>With my experience with programming for 3 years, I have good problem solving with my skills and experience on programming, so it can provide better quality results on my projects.</p>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="bostami-what-do-item bg-catkrill">
                    <div class="icon">
                        <i class="fa-regular fa-mobile"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Mobile App Development</h4>
                        <p>For Mobile App Development, I usually use hybrid tools/frameworks like Flutter and IONIC Angular, so that I can develop Android and IOS apps simultaneously. I also have knowledge of how to use state management in my Mobile Applications, so it can resulted a high quality and high performing mobile apps.</p>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="bostami-what-do-item bg-prink bg-blue">
                    <div class="icon">
                        <i class="fa-regular fa-globe"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Front End Web Development</h4>
                        <p>I have a good skills with HTML, CSS and Javascript on Web Development. I usually use Laravel with Jquery for smaller/low cost projects web app and Angular or NextJS for large scale projects web app which is require good performance on the websites I develop.</p>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="bostami-what-do-item bg-catkrill">
                    <div class="icon">
                        <i class="fa-regular fa-database"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Backend Development</h4>
                        <p>For Backend App Development, i usually using Laravel or NestJS with Drizzle ORM or PRISMA ORM. I also have been exprienced how to make a more secured Backend App with JWT (Json Web Token) concept on my Backend App and using Middleware / or Guard on each endpoint on my Backend App.</p>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="bostami-what-do-item bg-prink bg-blue">
                    <div class="icon">
                        <i class="fa-regular fa-desktop"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Desktop App</h4>
                        <p>For desktop app, i usually using Angular with ElectronJS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- client -->
<div class="section-wrapper bg-light-white-2 pt-45 pb-60 pl-60 pr-60">

    <div class="bostami-section-title-wrap text-center mb-50">
        <h3 class="section-title">clinet</h3>
    </div>

    <div class="bostami-client-slider">
        <div class="swiper-container client_slide_active">
            <div class="swiper-wrapper">

                <!-- single item -->
                <div class="swiper-slide">
                    <img class="bostami-client-slider-logo"
                        src="assets/img/client/client-logo-1.png" alt="">
                </div>

                <!-- single item -->
                <div class="swiper-slide">
                    <img class="bostami-client-slider-logo"
                        src="assets/img/client/client-logo-2.png" alt="">
                </div>

                <!-- single item -->
                <div class="swiper-slide">
                    <img class="bostami-client-slider-logo"
                        src="assets/img/client/client-logo-3.png" alt="">
                </div>

                <!-- single item -->
                <div class="swiper-slide">
                    <img class="bostami-client-slider-logo"
                        src="assets/img/client/client-logo-4.png" alt="">
                </div>

            </div>
        </div>
    </div>

</div>
