<div class="text-right">
    <div class="bostami-main-menu-wrap">
        <nav class="bastami-main-menu main_menu_3">
            <ul>
                <li routerLinkActive="active" routerLink="/about" style="cursor: pointer;">
                    <a>
                        <span>
                            <i class="fa-light fa-address-card"></i>
                        </span>
                        About
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/resume" style="cursor: pointer;">
                    <a>
                        <span>
                            <i class="fa-light fa-file-user"></i>
                        </span>
                        Resume
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/works" style="cursor: pointer;">
                    <a>
                        <span>
                            <i class="fa-light fa-briefcase"></i>
                        </span>
                        Works
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>