<div class="page-wrapper home-3" style="background: url('/assets/img/bg/page-bg-1.jpg')">
	<app-header></app-header>

	<div class="container z-index-3">
        <div class="row">
        	<div class="col-xxl-4 col-xl-4 col-lg-4">
        		<app-personal-info></app-personal-info>
        	</div>
        	<div class="col-xxl-8 col-xl-8 col-lg-8">
        		<app-top-menu></app-top-menu>
        		<div class="bostami-page-content-wrap">
        			<router-outlet></router-outlet>

        			<!-- footer copyright -->
					<div class="footer-copyright text-center pt-25 pb-25">
					    <span>© 2024 All Rights Reserved by <a href="#">Biondi Bagasta Wiko Putra</a></span>
					</div>
        		</div>
        	</div>
        </div>
    </div>
</div>