<!-- page title -->
<div class="section-wrapper pl-60 pr-60 pt-60">
    <div class="bostami-page-title-wrap mb-15">
        <h2 class="page-title">Portfolio</h2>
    </div>
</div>


<div class="section-wrapper pr-60 pl-60 mb-60">
    <div class="row">
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716343049/portofolio/Screenshot_2024-05-22-08-11-20-245_com.example.adamulti_mobile_clone_new_o8x9lc.jpg" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Flutter, NestJS, PRISMA ORM.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing ADAMULTI Payment App for Mobile.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716343534/portofolio/Screenshot_2024-05-22-08-11-34-365_com.mitrapulsanusantarav2.id_jhj9z1.jpg" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Flutter, NestJS, PRISMA ORM.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Mitra Pulsa Nusantara Payment App for Mobile.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716344103/portofolio/ADAMULTI-DESKTOP-SS1_d2q85s.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Angular, Electron, NestJS, PRISMA ORM.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing ADAMULTI Payment App for Desktop.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716344128/portofolio/screenshot_MPN_DESKTOP_or3hxe.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Angular, Electron, NestJS, PRISMA ORM.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Mitra Pulsa Nusantara Payment App for Desktop.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716345161/portofolio/Screenshot_2024-05-22-08-09-30-158_io.ionic.starter_z13cdm.jpg" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Angular, IONIC, Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Semeton Side App, for Counting Total Vote for Lalu Putrama Doni (Parliament Candidate on West Lombok Regency).
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716345327/portofolio/Screenshot_2024-05-22-08-10-12-968_com.example.ujian_online_flutter_lasuus.jpg" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Flutter, Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Safe Exam App for Mobile for SMKN 1 Tegalsari (Tegalsari Highschool).
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716345848/portofolio/Screenshot_2024-05-22-08-09-59-666_com.example.applikasi_bukusaku_2024_fvtkqu.jpg" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Flutter, Angular, Supabase.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Mobile App for BIDPROPAM Polda NTB for Searching the Laws Data on BIDPROPAM Indonesia.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716347306/portofolio/home_screen_kdlfik.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Ionic, Angular, Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing SIMREK Kota Mataram App for Request Permission to Place Billboard Ddvertisement in Mataram City.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716346122/portofolio/Penilaian_Kinerja_Permata_Hati_n1ef14.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Employee Performance Assessment Application for Permata Hati Hospital.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716346272/portofolio/Website_Ujian_pa0xzu.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Exam Application for Employee Recruitment.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716346830/portofolio/Screenshot_2024-05-22_at_11.00.01_kthvc0.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Laravel.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing JDIH Kabupaten Lombok Utara Website for Search Laws Data on North Lombok Regency.
                    </a>
                </h6>
            </div>
        </div>
        <!-- single blog -->
        <div class="col-lg-6 col-md-6">
            <div class="blog-slider-single bg-prink">
                <a class="img">
                    <img src="https://res.cloudinary.com/biondibagasta/image/upload/v1716348024/portofolio/Screenshot_2024-05-22_at_11.15.25_yy9uua.png" alt="">
                </a>
                <div class="blog-meta">
                    <span class="blog-cetagory">Wordpress.</span>
                </div>
                <h6 class="blog-title">
                    <a>
                        Developing Website for Gerbang NTB Emas Company.
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>